.datagrid-header-inner {
	width: 100%;
}

.datagrid-htable, .datagrid-btable {
	width: 100%;
}

.operation {
	display: block;
	margin: 3px 0;
}

.operation:FIRST-OF-TYPE {
	margin-top: 6px;
}

.operation:LAST-OF-TYPE {
	margin-bottom: 6px;
}